/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(246, 248, 249);
}

.inl-block {
    display: inline-block;
}

.bg-c-lightblue {
    background-color: rgb(71, 173, 241);
}

.bg-c-purple {
    background-color: rgb(156, 144, 228);
}

.bg-c-green {
    background-color: rgb(100, 192, 169);
}

.bg-c-orange {
    background-color: rgb(242, 158, 51);
}

.bg-c-pink {
    background-color: rgb(216, 99, 161);
}

.bg-c-peagreen {
    background-color: rgb(176, 201, 38);
}

.p-left5px {
    padding-left: 5px;
}

.f-size-xl {
    font-size: x-large;
}

.green {
    color: green;
}

.red {
    color: red;
}

.mar-top10 {
    margin-top: 15px;
}


/* Header */

header {
    background-color: white;
    height: 100px;
}

#logo {
    width: 5%;
    margin-left: 30px;
}

h1 {
    display: inline-block;
    line-height: 100px;
    vertical-align: top;
    font-size: 3.5em;
}


/* Main */

.container {
    color: white;
    font-weight: 600;
    background-color: #FFFFFF;
    width: 70%;
    margin: 50px auto;
    border-radius: 15px;
}

.add-container {
    background-color: #FFFFFF;
    border-radius: 15px 15px 0px 0px;
    line-height: 60px;
    padding-left: 8%;
    border-bottom: 2px solid rgb(246, 248, 249);
}

.add-section {
    line-height: 30px;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 5px;
    border: 2px solid rgb(197, 203, 208);
}

#grey-text {
    color: rgb(212, 216, 220);
}

.new-task {
    color: black;
    padding: 4%;
}

.checkbox {
    display: inline-block;
    border: 2px solid green;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.crossbox {
    display: inline-block;
    border: 2px solid red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.category {
    color: white;
    display: inline-block;
    width: 75px;
    height: 21px;
    border-radius: 7px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
}